body{

margin:0;

background:#ececf7;

font-family:Arial;

}

.hero{

padding:40px;

text-align:center;

background:

linear-gradient(

90deg,

purple,

blue,

deeppink

);

color:white;

}

.grid{

display:grid;

grid-template-columns:

repeat(

auto-fit,

250px

);

gap:30px;

padding:40px;

justify-content:center;

}

.card{

background:white;

padding:15px;

border-radius:12px;

text-align:center;

cursor:pointer;

transition:.3s;

}

.card:hover{

transform:

translateY(-6px)

}

.card-image{

width:100%;

height:220px;

object-fit:cover;

}

.link{

text-decoration:none;

color:black;

}

.detail{

display:flex;

flex-direction:column;

align-items:center;

padding:30px;

}

.detail-image{

width:350px;

border-radius:10px;

}

.buy{

width:250px;

padding:15px;

background:#00c853;

border:none;

color:white;

margin-top:10px;

border-radius:10px;

cursor:pointer;

}

.community{

width:250px;

padding:15px;

margin-top:10px;

background:white;

border:1px solid gray;

border-radius:10px;

cursor:pointer;

}

.rating{

margin:20px;

font-size:18px;

}

.back{

margin-bottom:20px;

padding:10px;

}

.navbar{

background:

linear-gradient(

90deg,

#7B2CFF,

#235BFF,

#E60087

);

padding:20px;

display:flex;

justify-content:center;

color:white;

}

.logoBox{

display:flex;

gap:15px;

align-items:center;

}

.logoBox{

display:flex;

justify-content:center;

align-items:center;

}

.consoleLogo{

width:140px;

height:auto;

margin-bottom:-4px;

}

.subtitle{

margin-top:-3px;

font-size:12px;

text-align:center;

color:white;

line-height:1.1;

padding:0;

}

.navbar{

background:

linear-gradient(
90deg,
#7B2CFF,
#235BFF,
#E60087
);

padding:8px 20px 6px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

color:white;

min-height:85px;

}

.footer{

background:#13213B;

padding:30px;

text-align:center;

color:white;

margin-top:60px;

}

.footer span{

font-size:12px;

color:#ccc;

}

.detailWrapper{

padding:40px;

display:flex;

flex-direction:column;

align-items:center;

}

.detailCard{

background:white;

padding:25px;

border-radius:12px;

width:700px;

position:relative;

}

.topBar{

height:8px;

width:100%;

border-radius:8px;

margin-bottom:15px;

}

.priceBox{

position:absolute;

left:20px;

top:20px;

background:#F59E0B;

padding:10px;

border-radius:8px;

font-weight:bold;

color:white;

}

.rarityBox{

position:absolute;

right:20px;

top:20px;

padding:8px 15px;

color:white;

border-radius:20px;

}

.detail-image{

width:100%;

border-radius:10px;

}

.rating{

margin:20px 0;

font-size:18px;

}

.back{

margin-bottom:15px;

}

.buy{

width:100%;

padding:15px;

background:#00C853;

border:none;

color:white;

border-radius:8px;

margin-top:10px;

cursor:pointer;

}

.community{

width:100%;

padding:15px;

margin-top:10px;

background:white;

border:1px solid gray;

border-radius:8px;

cursor:pointer;

}